.page-header
  h2= current_record.user_key

ruby:
  rows = current_record.battle_records.collect { |e|
    {
      "ID" => e.id,
    }
  }

= rows.to_html
/ p
/   =<> link_to("KI2", [:name_space1, current_record, format: "ki2"], class: "btn btn-info")
/   =<> link_to("KIF", [:name_space1, current_record, format: "kif"], class: "btn btn-info")
/   =<> link_to("CSA", [:name_space1, current_record, format: "csa"], class: "btn btn-info")
/
/ br
/
/ = "KI2"
/ pre
/   = current_record.converted_ki2
/
/ = "KIF"
/ pre
/   = current_record.converted_kif
/
/ = "CSA"
/ pre
/   = current_record.converted_csa
/
/ - if Rails.env.development?
/   = current_record.kifu_header&.to_html
/
/   p
/     .panel.panel-default
/       .panel-body
/         =<> link_to("一覧", [:name_space1, current_plural_key], class: "btn btn-default")
/         =<> link_to("編集", [:edit, :name_space1, current_record], class: "btn btn-success")
/         =<> link_to("削除", [:name_space1, current_record], method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger")
