@import "./_helper.sass"

.formal_paper_workspace
  .s0
    border-bottom: 1px solid black

  .s1
    border-right: 1px solid black

  .bb
    border-bottom-width: 2px

  .double_border
    @extend %double_border

  // 罫線調整
  .tables_box
    // 右上には線がまったくないので2px
    border-top: 2px solid black
    border-left: 2px solid black
    // 下はすでに2pxあるので足さない

    .is_head1, .is_head2
      // 上2つのテーブルの右側は1pxあるので1px追加
      border-right: 1px solid black
      // テーブルの下に1px追加で2px分にする
      border-bottom: 1px solid black

    .is_body
      thead
        td
          border-right: 1px solid black
          border-bottom: 2px solid black
      tbody
        tr:nth-child(5n)
          td
            border-bottom: 2px solid black
      tr
        td:nth-child(4n)
          border-right: 2px solid black
