@media print
  .is_screen_only
    display: none

  body
    overflow: visible !important

  section.section
    padding: 0 !important

.formal_paper_layout
  .sheet
    color: black
    font-size: $base_font_size
    
    @extend .yumincho
    
    .kifu_tables
      table
        width: 100%
        // @extend %max_block

        // &.header_table1
        // &.header_table2
        //   height: 10%
        // &.body_table
        //   height: 90%
        
        border-collapse: separate

        td
          text-align: center
          vertical-align: middle
          @extend .nowrap

        &.body_table
          thead
            tr
              // / height: 100%

          tbody
            tr
              height: $body_table_tbody_height
            td.kifu_data_td
              padding: 0 0.2em
              width: 10%
              font-size: $body_table_tbody_td_font_size

          .shouhi_tuukei_td
            @extend %cell_slash
            height: 1em           // ？ これを入れないと上下にならない
            font-size: 0.5em
            .shouhi_tuukei
              @extend %oppoite_pole_pos
              padding: 0 0.25em

        .sengo
          @extend %vertical_writing
          @extend %small1

        td
          &.ls3
            // letter-spacing: 0.5em

          //////////////////////////////////////////////////////////////////////////////// 備考
          &.bikou_label_td
            @extend %slendar
            @extend %small1
            letter-spacing: 0.5em
            .bikou_label
              @extend %vertical_writing
          &.bikou_body_td
            // width: 25%
            padding: 0.5em
            .bikou_body
              @extend %small1
              @extend .word_break
              text-align: left

          &.taikyokusha_td
            @extend %slendar
            padding: 0.5em 0
            .taikyokusha
              @extend %text_just
              @extend %vertical_writing
              min-height: 4em

          &.kisenmei_td
            @extend %slendar
            .kisenmei
              @extend %vertical_writing

          &.taikyokujo_td

          &.username_td
            text-align: left
            padding: 0.25em

          &.dankyu_td
            padding: 0 0.2em
            .dankyu
              letter-spacing: 0.1em

          &.teaiwari_td
            padding: 0 0.5em
            .teaiwari

          &.hirukyuumae_td
            @extend %small2
            padding: 0 0.5em
