// プレビュー時のみ適用
@media screen
  .font_size_limit_off_button
    position: fixed
    left: 0
    top: 0

  img
    &.font_size_limit_off_accident
      max-height: 40vmin
    &.font_size_limit_off_google_chrome
      max-height: 35vmin
