- content_for :head do
  = stylesheet_pack_tag("position_editor_style")
  = javascript_pack_tag("position_editor_app")

#position_editor_app.has-text-centered(v-cloak)
  shogi_player(
    :kifu_body="'position startpos'"
    :key_event_capture="false"
    :slider_show="true"
    :sfen_show="false"
    :controller_show="false"
    :theme="'#{sp_theme_default}'"
    :size="'medium'"
    :sound_effect="true"
    :volume=AppConfig[:volume]
    :run_mode="'edit_mode'"
  )
