- back_to_url = url_for([:swars, :battles, query: current_swars_user])

- if external_app_mode?
  / セットアップのときだけでなくホームから飛んできたときも設定しないといけない。そうしないとアイコンが元に戻ってしまう
  - @override_page_title = current_external_app_info.shortcut_name
  - @apple_touch_icon = current_external_app_info.apple_touch_icon

- if flash[:external_app_setup]
  javascript:
    document.addEventListener("DOMContentLoaded", () => {
      Vue.prototype.$buefy.dialog.alert({
        message: "この状態で<b>ホーム画面に追加</b>してください",
        confirmText: "戻る",
        type: 'is-info',
        trapFocus: true,
        onConfirm: () => { location.href = "#{raw back_to_url}" },
      })
    })

- if @external_app_url
  javascript:
    document.addEventListener('DOMContentLoaded', () => {
      // html_safe をつけないと num=N&amp;url= になってしまう
      const url = "#{@external_app_url.html_safe}"
      let other_window = "#{current_external_app_info.other_window}"
      if (GVI.$route.query.other_window) {
        other_window = GVI.$route.query.other_window
      }
      if (other_window === "true") {
        GVI.url_open(url)
      } else {
        location.href = url
      }
    })
