template(v-if="fetched_count >= 1 && records.length >= 1")
  .buttons.are-small
    b-button.usage_modal_open_handle(@click="usage_modal_open_handle" icon-right="lightbulb-on-outline")
    b-button.zip_dl_modal_open_handle(@click="zip_dl_modal_open_handle" icon-right="download")
