= render partial: "header"
= render partial: "search_form"
= render partial: "search_bottom_share_links"
= render partial: "filter_dropdown"
= render partial: "trick"
= render partial: "free_battles/modal_shogi_player"
= render partial: "free_battles/table"
= render partial: "free_battles/index_footer"
= render partial: "free_battles/parmalink"
= render partial: "footer_buttons"
= render partial: "zip_dl_modal"
= render partial: "usage_modal"

- if Rails.env.development? && false
  = Swars::User.to_html
  = Swars::Battle.to_html

- if Rails.env.development?
  = debug cookies.permanent.signed[:remember_swars_user_keys]
