<div class="ritz grid-container" dir="ltr">
  <table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="row-header freezebar-origin-ltr">
        </th>
        <th id="0C0" style="width:100px" class="column-headers-background">A</th>
        <th id="0C1" style="width:100px" class="column-headers-background">B</th>
        <th id="0C2" style="width:83px" class="column-headers-background">C</th>
        <th id="0C3" style="width:226px" class="column-headers-background">D</th>
        <th id="0C4" style="width:100px" class="column-headers-background">E</th>
        <th id="0C5" style="width:35px" class="column-headers-background">F</th>
        <th id="0C6" style="width:186px" class="column-headers-background">G</th>
        <th id="0C7" style="width:100px" class="column-headers-background">H</th>
        <th id="0C8" style="width:272px" class="column-headers-background">I</th>
      </tr>
    </thead>
    <tbody>
      <tr style='height:20px;'>
        <th id="0R0" style="height: 20px;" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px;">1</div>
        </th>
        <td>
        </td>
        <td class="s0">
        </td>
        <td class="s0">
        </td>
        <td class="s0">
        </td>
        <td class="s0">
        </td>
        <td class="s0">
        </td>
        <td class="s0">
        </td>
        <td class="s0">
        </td>
        <td class="s0">
        </td>
      </tr>
      <tr style='height:20px;'>
        <th id="0R1" style="height: 20px;" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px;">2</div>
        </th>
        <td class="s1">
        </td>
        <td class="s2" dir="ltr" rowspan="12">対局者</td>
        <td class="s3" dir="ltr" rowspan="3">級</td>
        <td class="s4" dir="ltr" rowspan="6">先☗</td>
        <td class="s2" dir="ltr" rowspan="8">棋戦名</td>
        <td class="s2" dir="ltr" colspan="2" rowspan="4">第25期 竜王戦</td>
        <td class="s2" dir="ltr" rowspan="3">開始</td>
        <td class="s2" dir="ltr" rowspan="3">24年7月31日10時00分</td>
      </tr>
      <tr style='height:20px;'>
        <th id="0R2" style="height: 20px;" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px;">3</div>
        </th>
        <td class="s1">
        </td>
      </tr>
      <tr style='height:20px;'>
        <th id="0R3" style="height: 20px;" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px;">4</div>
        </th>
        <td class="s1">
        </td>
      </tr>
      <tr style='height:20px;'>
        <th id="0R4" style="height: 20px;" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px;">5</div>
        </th>
        <td class="s1">
        </td>
        <td class="s3" dir="ltr" rowspan="3">段</td>
        <td class="s2" dir="ltr" rowspan="3">終了</td>
        <td class="s2" dir="ltr" rowspan="3">24年7月31日10時00分</td>
      </tr>
      <tr style='height:20px;'>
        <th id="0R5" style="height: 20px;" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px;">6</div>
        </th>
        <td class="s1">
        </td>
        <td class="s2" dir="ltr" colspan="2" rowspan="4">&lt;決勝トーナメント&gt;</td>
      </tr>
      <tr style='height:20px;'>
        <th id="0R6" style="height: 20px;" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px;">7</div>
        </th>
        <td class="s1">
        </td>
      </tr>
      <tr style='height:20px;'>
        <th id="0R7" style="height: 20px;" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px;">8</div>
        </th>
        <td class="s1">
        </td>
        <td class="s3" dir="ltr" rowspan="3">級</td>
        <td class="s4" dir="ltr" rowspan="6">後☖</td>
        <td class="s2" dir="ltr" rowspan="3">昼休</td>
        <td class="s2" rowspan="3">
        </td>
      </tr>
      <tr style='height:20px;'>
        <th id="0R8" style="height: 20px;" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px;">9</div>
        </th>
        <td class="s1">
        </td>
      </tr>
      <tr style='height:20px;'>
        <th id="0R9" style="height: 20px;" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px;">10</div>
        </th>
        <td class="s1">
        </td>
        <td class="s2" dir="ltr" colspan="2" rowspan="4">対局場</td>
        <td class="s2" dir="ltr" rowspan="4">東京将棋会館</td>
      </tr>
      <tr style='height:20px;'>
        <th id="0R10" style="height: 20px;" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px;">11</div>
        </th>
        <td class="s1">
        </td>
        <td class="s3" dir="ltr" rowspan="3">段</td>
        <td class="s2" dir="ltr" rowspan="3">夕休</td>
        <td class="s2" rowspan="3">
        </td>
      </tr>
      <tr style='height:20px;'>
        <th id="0R11" style="height: 20px;" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px;">12</div>
        </th>
        <td class="s1">
        </td>
      </tr>
      <tr style='height:20px;'>
        <th id="0R12" style="height: 20px;" class="row-headers-background">
          <div class="row-header-wrapper" style="line-height: 20px;">13</div>
        </th>
        <td class="s1">
        </td>
      </tr>
    </tbody>
  </table>
</div>
