.ritz.grid-container[dir="ltr"]
  table.waffle[cellspacing="0" cellpadding="0"]
    thead
      tr
        th.row-header.freezebar-origin-ltr

        th#0C0.column-headers-background[style="width:100px"]
          | A
        th#0C1.column-headers-background[style="width:100px"]
          | B
        th#0C2.column-headers-background[style="width:83px"]
          | C
        th#0C3.column-headers-background[style="width:226px"]
          | D
        th#0C4.column-headers-background[style="width:100px"]
          | E
        th#0C5.column-headers-background[style="width:35px"]
          | F
        th#0C6.column-headers-background[style="width:186px"]
          | G
        th#0C7.column-headers-background[style="width:100px"]
          | H
        th#0C8.column-headers-background[style="width:272px"]
          | I
    tbody
      tr[style="height:20px;"]
        th#0R0.row-headers-background[style="height: 20px;"]
          .row-header-wrapper[style="line-height: 20px;"]
            | 1
        td

        td.s0

        td.s0

        td.s0

        td.s0

        td.s0

        td.s0

        td.s0

        td.s0

      tr[style="height:20px;"]
        th#0R1.row-headers-background[style="height: 20px;"]
          .row-header-wrapper[style="line-height: 20px;"]
            | 2
        td.s1

        td.s2[dir="ltr" rowspan="12"]
          | 対局者
        td.s3[dir="ltr" rowspan="3"]
          | 級
        td.s4[dir="ltr" rowspan="6"]
          | 先☗
        td.s2[dir="ltr" rowspan="8"]
          | 棋戦名
        td.s2[dir="ltr" colspan="2" rowspan="4"]
          | 第25期 竜王戦
        td.s2[dir="ltr" rowspan="3"]
          | 開始
        td.s2[dir="ltr" rowspan="3"]
          | 24年7月31日10時00分
      tr[style="height:20px;"]
        th#0R2.row-headers-background[style="height: 20px;"]
          .row-header-wrapper[style="line-height: 20px;"]
            | 3
        td.s1

      tr[style="height:20px;"]
        th#0R3.row-headers-background[style="height: 20px;"]
          .row-header-wrapper[style="line-height: 20px;"]
            | 4
        td.s1

      tr[style="height:20px;"]
        th#0R4.row-headers-background[style="height: 20px;"]
          .row-header-wrapper[style="line-height: 20px;"]
            | 5
        td.s1

        td.s3[dir="ltr" rowspan="3"]
          | 段
        td.s2[dir="ltr" rowspan="3"]
          | 終了
        td.s2[dir="ltr" rowspan="3"]
          | 24年7月31日10時00分
      tr[style="height:20px;"]
        th#0R5.row-headers-background[style="height: 20px;"]
          .row-header-wrapper[style="line-height: 20px;"]
            | 6
        td.s1

        td.s2[dir="ltr" colspan="2" rowspan="4"]
          | <決勝トーナメント>
      tr[style="height:20px;"]
        th#0R6.row-headers-background[style="height: 20px;"]
          .row-header-wrapper[style="line-height: 20px;"]
            | 7
        td.s1

      tr[style="height:20px;"]
        th#0R7.row-headers-background[style="height: 20px;"]
          .row-header-wrapper[style="line-height: 20px;"]
            | 8
        td.s1

        td.s3[dir="ltr" rowspan="3"]
          | 級
        td.s4[dir="ltr" rowspan="6"]
          | 後☖
        td.s2[dir="ltr" rowspan="3"]
          | 昼休
        td.s2[rowspan="3"]

      tr[style="height:20px;"]
        th#0R8.row-headers-background[style="height: 20px;"]
          .row-header-wrapper[style="line-height: 20px;"]
            | 9
        td.s1

      tr[style="height:20px;"]
        th#0R9.row-headers-background[style="height: 20px;"]
          .row-header-wrapper[style="line-height: 20px;"]
            | 10
        td.s1

        td.s2[dir="ltr" colspan="2" rowspan="4"]
          | 対局場
        td.s2[dir="ltr" rowspan="4"]
          | 東京将棋会館
      tr[style="height:20px;"]
        th#0R10.row-headers-background[style="height: 20px;"]
          .row-header-wrapper[style="line-height: 20px;"]
            | 11
        td.s1

        td.s3[dir="ltr" rowspan="3"]
          | 段
        td.s2[dir="ltr" rowspan="3"]
          | 夕休
        td.s2[rowspan="3"]

      tr[style="height:20px;"]
        th#0R11.row-headers-background[style="height: 20px;"]
          .row-header-wrapper[style="line-height: 20px;"]
            | 12
        td.s1

      tr[style="height:20px;"]
        th#0R12.row-headers-background[style="height: 20px;"]
          .row-header-wrapper[style="line-height: 20px;"]
            | 13
        td.s1
