javascript:
  var js_cpu_battle = #{@js_cpu_battle.to_json.html_safe};

- content_for :head do
  = stylesheet_pack_tag("cpu_battles_style")
  = javascript_pack_tag("cpu_battles_app")

#cpu_battles_app(v-cloak)
  .has-text-centered
    shogi-player(
      :kifu_body="full_sfen"
      :key_event_capture="false"
      :slider_show="false"
      :sfen_show="false"
      :controller_show="true"
      :theme="'#{current_shogi_player_theme}'"
      :size="'x-large'"
      :sound_effect="true"
      :volume=AppConfig[:volume]
      :run_mode="'play_mode'"
      :human_side="'black'"
      @update:play_mode_long_sfen="play_mode_long_sfen_set"
    )
    br
    b-field label="CPUの強さ"
      .block
        template v-for="e in CpuBrainInfo.values"
          b-radio v-model="cpu_brain_key" :native-value="e.key"
            = "{{e.name}}"
