/.yardoc
*.sql
*.bin
*.sqlite*
/public/packs
/storage
/db/storage

/public/packs
/public/packs-test

/experiment/_*
/_*
node_modules
yarn-debug.log*
.yarn-integrity
/spec/test.txt
/log
/.byebug_history
/*.rdb
/shogi-player

# Ignore master key for decrypting credentials and more.
/config/master.key
/dump.rdb
/.basic_auth*
/kifu_data*
/db/*.gz
