/RSPEC_ACTIVE
0-systemd_secret_env

/nuxt_side/static/material
/screenshot

/trash
/.yardoc
*.sql
*.bin
*.sqlite*
/public/packs
/storage
/db/storage

/public/packs
/public/packs-test

/workbench/_*
/_*
node_modules
yarn-debug.log*
.yarn-integrity
/spec/test.txt
/log
/.byebug_history
/*.rdb
/shogi-player
/*.lock.json
/du.txt

# Ignore master key for decrypting credentials and more.
/config/master.key
/dump.rdb
/.basic_auth*
/kifu_data*
/db/*.gz
/*.kif
.byebug_history
/SPEC_FAILED.org

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/app/models/swars/agent/fetched_html/*.html

/config/google_account_json

# R
/nuxt_side/static/lab/**/*_files
/Rplots.pdf
/nuxt_side/static/lab/swars/*.html
