shogi_player(
  :run_mode="run_mode"
  :kifu_body="board_sfen"
  :start_turn="default_start_turn"
  :debug_mode="false"
  :key_event_capture="true"
  :slider_show="true"
  :sfen_show="false"
  :controller_show="true"
  :theme="'real'"
  :size="'default'"
  :sound_effect="true"
  :volume=AppConfig[:volume]
  @update:play_mode_long_sfen="play_mode_long_sfen_set"
  ref="main_sp"
  )
  = render partial: "sfen_link"
