piyo_shogi_button(type="button" :href="props.row.piyo_shogi_app_url")
kento_button(tag="a" @click.stop :href="`${props.row.kento_app_url}#${trick_start_turn_for(props.row)}`")
kif_copy_button(@click.stop.prevent="kif_clipboard_copy(props.row.kifu_copy_params)" v-if="props.row.kifu_copy_params")
sp_modal_button(@click="show_handle(props.row)")
// b-button(icon-left="twitter" tag="a" :href="props.row.modal_on_index_url" size="is-small" type="is-info")
