/ template(v-if="!iframe_p")
/   sp_show(:record="record" :pulldown_menu_p="true")

template(v-if="iframe_p")
  shogi_player(
    :kifu_body="record.sfen_body"
    :start_turn="-1"
    :key_event_capture="false"
    :slider_show="true"
    :controller_show="true"
    :size="'medium'"
    :sound_effect="true"
    :volume="0.5"
    )
