.title.is-2.yumincho= "棋譜一覧"
hr

.field
  = link_to("作成", [:new, ns_prefix, current_single_key], class: "button is-primary")

ruby:
  rows = current_records.collect { |e|
    {
      "タイトル" => link_to(e.safe_title, [ns_prefix, e]),
      # "先手" => e.meta_info["先手"],
      # "後手" => e.meta_info["後手"],
      "手数" => e.turn_max,
      "所有者" => e.owner_user ? link_to(e.owner_user.name, e.owner_user) : "",
      "作成日時" => time_ago_in_words(e.created_at) + "前",
      "操作" => [
        # link_to("詳細", [ns_prefix, e]),
        (link_to("編集", [:edit, ns_prefix, e], class: "button is-small") if editable_record?(e)),
        # (link_to("削除", [ns_prefix, e], class: "button is-danger is-small", method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}) if editable_record?(e)),
      ].compact.join(" ").html_safe,
    }
  }

.field
  = rows.to_html

.field
  = paginate current_records
