.page-header
  h2= "#{current_model.model_name.human}一覧"

p= link_to("新規", [:new, :name_space1, current_single_key], class: "btn btn-primary")

= page_entries_info current_records

ruby:
  rows = current_records.collect {|e|
    {
      "ID" => link_to(e.id, [:name_space1, e]),
      "先手" => e.kifu_header["先手"],
      "後手" => e.kifu_header["後手"],
      "手数" => e.turn_max,
      "変換日時" => time_ago_in_words(e.created_at) + "前",
      "操作" => [
         link_to("詳細", [:name_space1, e]),
         link_to("編集", [:edit, :name_space1, e]),
         link_to("削除", [:name_space1, e], method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}),
      ].compact.join(" ").html_safe,
    }
  }

= rows.to_html

= paginate current_records
