.field
  = form.label(:kifu_body, class: "label")
  .control
    = form.text_area(:kifu_body, rows: 12, class: "textarea", autofocus: true, placeholder: "#{KifuFormatInfo.collect(&:name).join(', ')} に対応しています\n\n68銀 ３四歩 ▲７九角 八四歩\n\nのような指し手の羅列だけでもかまいません", "v-model": "kifu_body")

.field
  = form.label(:kifu_url, class: "label")
  .control
    = form.url_field(:kifu_url, class: "input", placeholder: "別のサイトにある場合は URL で指定できます")

.field
  = form.label(:kifu_file, class: "label")
  .control
    = form.file_field(:kifu_file, class: "input")

/ .field
/   = form.label(:kifu_file, class: "label")
/   .control
/     .file
/       label.file-label
/         = form.file_field(:kifu_file, class: "file-input")
/         span class="file-cta"
/           span class="file-icon"
/             i class="fas fa-upload"
/           span class="file-label"
/             | ファイル選択

/ #file_upload_dom
/   .b-field
/     = form.file_field(:kifu_file, class: "b-upload", "v-model": "dropFiles", "drag-drop": "true")
/       section.section
/         .content.has-text-centered
/           p
/             b-icon icon="upload" size="is-large"
/           p
/             | Drop your files here or click to upload
/   .tags
/     span.tag.is-primary v-for="(file, index) in dropFiles" :key="index"
/       = "{{file.name}}"
/       button class="delete is-small" type="button" @click="deleteDropFile(index)"
/
/ javascript:
/   new Vue({
/     el: "#file_upload_dom",
/     data: {
/       dropFiles: [],
/     },
/     methods: {
/       deleteDropFile(index) {
/         this.dropFiles.splice(index, 1)
/       }
/     }
/   })

/ .field
/   .control
/     .file.has-name.is-fullwidth
/       label.file-label
/         input class="file-input" type="file" name="resume"
/         span class="file-cta"
/           span class="file-icon"
/             i class="fas fa-upload"
/           span class="file-label"
/             Choose a file…
/         span class="file-name"
/           Screen Shot 2017-07-29 at 15.54.25.png
