.SbApp
  &.play_mode_p
    background-color: var(--sb_bg_color)

    .SideColumn
      &.is_content_present
        color:            var(--sb_side_fg_color)
        background-color: var(--sb_side_bg_color)

  // どのモードでも編集モードの色は固定する
  &.edit_mode_p
    background-color: white
