.SbApp
  &.play_mode_p
    background-color: var(--sb_bg_color)

    .SideColumn
      &.is_content_present
        color:            var(--sb_side_fg_color)
        background-color: var(--sb_side_bg_color)

  // どのモードでも編集モードの色は固定する
  &.edit_mode_p
    +setvar(sp_edit_mode_board_color, hsla(0,0%,0%,0.2))
    background-color: hsl(240,28.95%,85.1%)
