.ModalInsideCustomShogiPlayer
  +mobile
    // スマホは18remを越えると(コンテンツにもよるが)上下がスクロールしはじめる
    max-width: 16rem
  +tablet
    width: 16rem
  +desktop
    width: 17rem
  +widescreen
    width: 18rem
  +fullhd
    width: 19rem
