.SbApp
  .MainSection.section
    +tablet
      --sb_gap: 0.75rem
      padding: var(--sb_gap)
    +desktop
      --sb_gap: 1.5rem
    .SbSp
      // 盤の下を上の隙間と同じぐらい空ける
      .CustomShogiPlayer
        .NavigateBlock
          +tablet
            margin-top: var(--sb_gap)

  // タッチ端末では縦並びになるので上のマージンを調整する
  +touch
    .SideColumn
      margin-top: 1rem
      padding: 0 0.5rem

  .SbSp
    // 盤の左右の隙間
    // +tablet
    //   +margin_lr(0.75rem)
    +desktop
      +margin_lr(1.00rem)
    +widescreen
      +margin_lr(1.25rem)
    +fullhd
      +margin_lr(1.50rem)
