//
// b-menu 内の b-menu-item.is_active_unset 無駄に青くなってしまうのを防ぐ
// .is_active_unset
//   .is-active
//     background-color: unset ! important
//     color: unset ! important

//////// タッチした直後に toast を出すと文言が自動選択されてしまう対策(青のIが出る)

.toast
  @extend .is-unselectable

//////// 棋譜入力の盤面入力の幅が狭くなるのを防ぐ

.b-tabs
  &.is_lr_paddingless
    .tab-content
      padding-left: 0em !important
      padding-right: 0em !important

//////// テーブルの一行は基本改行しない

.b-table
  // .table-wrapper
  //   overflow-x: scroll !important
  //   -webkit-overflow-scrolling: touch
  @extend .is_line_break_off

//////// buefy の↓↑アイコンは右に寄りすぎて隣のthに重なるためラベルにくっつける
.b-table .table th .th-wrap .icon
  margin-left: 0rem

//////// モーダルを full-screen にしたときの閉じるボタン

.modal
  &.is-full-screen
    // 上のスペース
    .modal-card-body
      padding: 0
      padding-top: 0.5rem

    //////// // フッターの色を取る場合
    .modal-card-foot
      // border: none
      // background-color: $scheme-main
      padding: 0.75rem
      justify-content: space-between

//////// モーダルの背景をぼかす

.modal
  +is_backdrop_filter(4px)

//////// .modal-background の濃さを切り替える
//
//  this.$buefy.modal.open({customClass: "my-modal-background-background-color-dark"})
//
.my-modal-background-background-color-dark
  .modal-background
    background-color: change_color($black, $alpha: 0.7)

// デフォルトのダイアログのレイアウトが崩れているのを直す
.dialog.modal
  .modal-card-foot
    button:last-of-type
      margin-left: auto // this.$buefy.dialog.confirm で表示したときボタンが右寄りになるので左右に寄せる
  .modal-card-body
    .field
      margin-top: unset            // 上に無駄な隙間があるのを取る
      .help
        &:empty
          display: none            // ヘルプを表示していないときでも(高さを持っているため)無駄な隙間ができるのを防ぐ

// Buefy でモーダルやサイドバーを開くと body.is-noscroll を有効する
// このとき overflow-y: hidden によって画面外のテキストを Capybara は読めなくなる
// つまり assert_turn(0) などの状態確認ができなくなってしまう
// それを解決するための設定
.STAGE-development
  // ~/src/shogi/shogi-extend/nuxt_side/node_modules/buefy/src/scss/utils/_helpers.scss
  .is-noscroll
    // position: fixed
    // overflow-y: hidden
    overflow-y: auto ! important
    // width: 100%
    // bottom: 0
