@import "~bulma/sass/utilities/functions.sass";

// 2. カスタムカラー設定
// $twitter: findColorInvert(#111);
// $twitter-invert: findColorInvert($twitter);

$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);

// $github: #333;
// $github-invert: findColorInvert($github);
// $google: rgb(221, 75,  57);
// $google-invert: findColorInvert($google);
// $gold: hsl(38, 80%, 60%);
// $gold-invert: findColorInvert($gold);
// $piyo: #f29601;
// $piyo-invert: findColorInvert($piyo);

// @import "~bulma/sass/utilities/_all.sass"

// $shades: mergeColorMaps(
// (
//   "black-bis"   : $black-bis,
//   "black-ter"   : $black-ter,
//   "grey-darker" : $grey-darker,
//   "grey-dark"   : $grey-dark,
//   "grey"        : $grey,
//   "grey-light"  : $grey-light,
//   "grey-lighter": $grey-lighter,
//   "white-ter"   : $white-ter,
//   "white-bis"   : $white-bis),
//   $custom-shades
// ) !default;

$orange: #ff8606;
$orange-invert: findColorInvert($orange);

$custom-colors: (
  "orange": ($orange, $orange-invert),
  "twitter": ($twitter, $twitter-invert),
);
