.title.is-4
  | 管理画面

.content
  ul
    li ログイン: #{admin_user.inspect}

.buttons.are-small
  = link_to("ログアウト", [:admin, :session], method: :delete, :class => "button") if admin_user
  = link_to("BASIC認証強制失敗", [:admin, :root, request_http_basic_authentication: 1], :class => "button" )
  = link_to("スクリプト", [:admin, :script, id: :index], :class => "button")

.box
  = BackendScript.to_rows(self).to_html

.box
  = AtomicScript::ExampleScript.to_rows(self).to_html
