.SbApp {
  .MainSection.section {
    @include tablet {
      padding: 0.75rem;
    }
    @include desktop {
      padding: 1.5rem;
    }
  }

  // タッチ端末では縦並びになるので上のマージンを調整する
  @include touch {
    .SideColumn {
      margin-top: 1rem;
      padding: 0 0.5rem;
    }
  }

  // .columns.MainColumns {
  //   gap: 1rem;                  // 駒台と履歴の隙間 (touch以下では盤とメンバー一覧の隙間)
  // }
}
