.SbApp {
  .MainSection.section {
    @include tablet {
      padding: 0.75rem;
    }
    @include desktop {
      padding: 1.5rem;
    }
  }

  // タッチ端末では縦並びになるので上のマージンを調整する
  @include touch {
    .SideColumn {
      margin-top: 1rem;
      padding: 0 0.5rem;
    }
  }

  .SbShogiPlayer {
    // 盤の左右の隙間
    // @include tablet {
    //   margin-inilne: 0.75rem;
    // }
    @include desktop {
      margin-inilne: 1.00rem;
    }
    @include widescreen {
      margin-inilne: 1.25rem;
    }
    @include fullhd {
      margin-inilne: 1.50rem;
    }
  }
}
