.SbApp {
  // モダンモード風にするとHTMLタグの背景色が見えるため
  min-height: 100dvh;

  .MainContainer {
    display: flex;
    justify-content: center;    // 基本横並びだが

    // スマホとタブレットの場合
    @include touch {
      flex-direction: column;   // 縦並び かつ順番を変更する
      .SbShogiPlayer {
        order: 1;
      }
      .SbMemberList {
        order: 2;
      }
      .XhistoryContainer {
        order: 3;
      }
      // また空の要素は隙間が不自然になるので全体を消す
      .SideColumn {
        &.is_content_blank {
          display: none;
        }
      }
    }

    // 外側の隙間
    @include touch {
      margin: 0.75rem 0;
    }
    @include tablet {
      margin: 0.75rem;
    }
    @include desktop {
      margin: 1.5rem;
    }

    // 駒台と履歴の隙間
    @include touch {
      gap: 1rem;
    }
    @include desktop {
      gap: 1rem;
    }
    @include widescreen {
      gap: 1rem;
    }

    // 幅
    .SideColumn {
      @include desktop {
        width: 12rem;
      }
      @include widescreen {
        width: 16rem;           // flex なのでこれは仮。動的に縮む
      }
    }

    // メンバー一覧はデスクトップのときだけスクロール対応
    .SbMemberList {
      @include desktop {
        @include SideColumnScrollOn;
      }
    }

    // 履歴は常にスクロール対応
    .XhistoryContainer {
      @include SideColumnScrollOn;
    }

    // // 縦並びなので横を少し空ける
    // .SideColumn {
    //   @include touch {
    //     padding: 0.5rem;
    //   }
    // }

    // .SideColumn {
    //   border-radius: 6px;
    // }
  }

  &.debug_mode_p {
    .MainContainer {
      border: 1px dashed oklch(1.0 0 0 / 0.5);
    }
    .MainContainer > * {
      border: 1px dashed oklch(1.0 0 0 / 0.5);
      border-radius: 8px;
    }
    .ScrollBlock {
      overflow: auto ! important;
    }
  }
}
