<!DOCTYPE html>
<html class="has-background-info">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="60;url=/">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" integrity="sha256-vK3UTo/8wHbaUn+dTQD0X6dzidqc5l7gczvH+Bnowwk=" crossorigin="anonymous" />
    <title>メンテンナンス中</title>
  </head>
  <body>
    <div class="section">
      <div class="container">
        <div class="box has-text-weight-bold has-text-centered">
          ただいまメンテ中<br>
          時間: 7時〜8時ごろ
        </div>
      </div>
    </div>
  </body>
</html>
