// |------------------+--------------------------|
// | 変数             | 意味                     |
// |------------------+--------------------------|
// | sb_bg_color      | 全体の背景色             |
// | sb_board_color   | 将棋盤の色               |
// | sb_side_font_color | 両サイドのカラムの文字色 |
// | sb_side_bg_color | 両サイドのカラムの背景色 |
// |------------------+--------------------------|

.SbApp {
  // 背景
  --sb_bg_color: oklch(0.42 0 0);
  --sb_side_bg_color: unset;
  --sb_side_font_color: #{$grey-lighter};

  // ヘッダー
  --sb_top_nav_bg_color:       #{$black-bis};
  --sb_top_nav_bg_hover_color: #{$black-ter};
  --sb_top_nav_font_color:     #{$white};

  // 将棋盤
  .SbShogiPlayer {
    --sp_board_color: #{$board_orange_color};
    --sp_stand_bg_color: transparent;
    --sp_touch_lifted_origin_bg_color: transparent;
    --sp_touch_lifted_origin_opacity: 0.4;
  }

  // 影
  // appearance_theme_info.js
  &.is_appearance_theme_real,
  &.is_appearance_theme_hybrid {
    .ShogiPlayer {
      .BoardTexture,
      .MembershipLocationMark,
      .MembershipLocationPlayerInfo,
      .MembershipStand {
        filter: drop-shadow(3px 3px 3px hsl(0 0% 0% / 0.5));
      }
    }
  }
}
