// |------------------+--------------------------|
// | 変数             | 意味                     |
// |------------------+--------------------------|
// | sb_bg_color      | 全体の背景色             |
// | sb_board_color   | 将棋盤の色               |
// | sb_side_fg_color | 両サイドのカラムの文字色 |
// | sb_side_bg_color | 両サイドのカラムの背景色 |
// |------------------+--------------------------|

// appearance_theme_info.js
.SbApp
  --sb_side_fg_color: #{$grey-lighter}
  --sb_side_bg_color: unset

  // $sbc_b = hsl(36.23,75.36%,58.63%) = oklch(0.768 0.1329 74.63)
  &.is_appearance_theme_modern
    --sb_bg_color: oklch(0.4184 0 0)
  &.is_appearance_theme_real
    --sb_bg_color: oklch(0.4184 0.0425 85.36)
  &.is_appearance_theme_hybrid
    --sb_bg_color: oklch(0.4184 0.0425 191.17)

  .SbShogiPlayer
    --sp_board_color: #{$sbc_b}
    --sp_stand_bg_color: #{$sbc_b}
    --sp_touch_lifted_origin_bg_color: transparent
    --sp_touch_lifted_origin_opacity: 0.4

  &.is_appearance_theme_real, &.is_appearance_theme_hybrid
    .ShogiPlayer
      .BoardTexture, .MembershipLocationMark, .MembershipLocationPlayerInfo, .MembershipStand
        filter: drop-shadow(3px 3px 3px hsl(0 0% 0% / 0.5))
