@import "./general.sass"

@media print
  .is_screen_only
    display: none

  body
    overflow: visible !important

.tategaki
  display: inline-block
  writing-mode: vertical-rl

%text_just
  text-align-last: justify

%tate_1gyo
  width: 1% !important

%cell_slash
  position: relative
  svg
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

// +---------------+
// | elem1         |
// |               |
// |         elem2 |
// +---------------+
%top_left_and_bottom_right_layout
  height: 100%
  display: flex
  justify-content: space-between
  *:nth-child(1)
    align-self: flex-start
  *:nth-child(2)
    align-self: flex-end

.tiisame
  font-size: 80%

.tiisame2
  font-size: 60%

.kifu_grid_container
  @media screen
    margin-top: 1em

  color: black

  .kifu_grid_container_wrap
    border-top: 1px solid black
    border-left: 1px solid black

    width: 640px
    margin: auto auto

    @extend .yumincho

    table
      width: 100%
      border-collapse: separate

      td
        height: 1.5em
        text-align: center
        vertical-align: middle
        @extend .nowrap

      &.hand_logs_table
        .kifu_header_row
          height: 2em

        .kifu_body_row
          height: 1.65em

        .kifu_data_td
          width: 10%

        .shouhi_tuukei_td
          @extend %cell_slash
          font-size: 0.5em
          .shouhi_tuukei
            @extend %top_left_and_bottom_right_layout
            padding: 0 0.25em

      .sengo
        @extend .tategaki
        @extend .tiisame

      td
        &.ls3
          // letter-spacing: 0.5em

        //////////////////////////////////////////////////////////////////////////////// 備考
        &.bikou_label_td
          @extend %tate_1gyo
          @extend .tiisame
          letter-spacing: 0.5em
          .bikou_label
            @extend .tategaki
        &.bikou_body_td
          width: 25%
          .bikou_body
            @extend .tiisame
            @extend .word_break
            text-align: left

        &.taikyokusha_td
          @extend %tate_1gyo
          padding: 0.5em 0
          .taikyokusha
            text-align: center
            @extend .tategaki
            min-height: 4em

        &.taikyokujo_td
          width: 5em

        &.username_td
          text-align: left
          padding: 0.25em

        &.kisenmei_td
          @extend %tate_1gyo
          .kisenmei
            @extend .tategaki
            min-height: 5em

        &.dankyu_td
          width: 3em
          padding: 0 0.2em
          .dankyu
            letter-spacing: 0.1em

        &.teaiwari_td
          padding: 0 0.5em
          .teaiwari

        &.hirukyuumae_td
          @extend .tiisame2
          padding: 0 0.5em

    .blank_cell_for_border
      border: 1px solid blue

    .s0
      border-bottom: 1px solid black

    .s1
      border-right: 1px solid black

    .s2
      border-bottom: 1px solid black
      border-right: 1px solid black

    .s4
      border-bottom: 1px solid black
      vertical-align: middle
      white-space: nowrap

    .v2__s4
      border-bottom: 3px DOUBLE black

      vertical-align: middle
      white-space: nowrap

    .v2__s0
      border-bottom: 1px solid black

    .v2__s1
      border-right: 1px solid black

    .v2__s2
      border-bottom: 1px solid black
      border-right: 1px solid black

      vertical-align: middle
      white-space: nowrap

    .v2__s6
      border-bottom: 3px double black
      border-right: 1px solid black

      text-align: left
      vertical-align: middle
      white-space: nowrap

    .v2__s3
      border-bottom: 1px solid black

      vertical-align: middle
      white-space: nowrap

    .v2__s5
      border-right: 1px solid black

      text-align: left
      vertical-align: middle
      white-space: nowrap
