////////////////////////////////////////////////////////////////////////////// Vue

[v-cloak]
  display: none

////////////////////////////////////////////////////////////////////////////// Chromeでdatalistを利用するとhoverで表示される三角を非表示にする方法

input::-webkit-calendar-picker-indicator
  display: none

////////////////////////////////////////////////////////////////////////////// フッターまでの最低限の縦幅
  
.main_container
  min-height: 70vmin

////////////////////////////////////////////////////////////////////////////// 固定フォント
  
.fixed_font
  font-family: Osaka-mono, "Osaka-等幅", "ＭＳ ゴシック", monospace !important

pre
  @extend .fixed_font

.pre-wrap
  white-space: pre-wrap
  
////////////////////////////////////////////////////////////////////////////// エラーメッセージ内のPRE相当
  
.error_message_pre
  @extend .fixed_font
  margin-top: 1rem
  white-space: pre
  
////////////////////////////////////////////////////////////////////////////// 綺麗な明朝体

.yumincho
  font-family: "YuMincho", "Yu Mincho", serif
  
////////////////////////////////////////////////////////////////////////////// ぴよ将棋の画像調整

.show_piyo_link
  height: 2rem

.row_piyo_link
  height: 2rem

////////////////////////////////////////////////////////////////////////////// アイコン消去用

.icon_hidden
  visibility: hidden !important

////////////////////////////////////////////////////////////////////////////// 囲い
  
.hero
  &.is-primary
    background-color: transparent !important

  position: relative
  &:after
    position: absolute
    z-index: -1
    content: ""
    background-image: url("../assets/hero.jpg")
    background-position: center
    background-size: cover
    opacity: 1.0
    top: 0
    left: 0
    width: 100%
    height: 100%
  
////////////////////////////////////////////////////////////////////////////// 囲い

@import "../../../node_modules/bulma/sass/utilities/initial-variables.sass"
@import "../../../node_modules/bulma/sass/utilities/derived-variables.sass"
@import "../../../node_modules/shogi-player/src/components/ShogiPlayer.sass"

$cell_blank_bg:       $grey
$something_exist_bg:  $green
$any_exist_soldiers:  $grey-light

.shogi-player
  td
    &.cell_blank
      background: $cell_blank_bg
    &.something_exist
      background: $something_exist_bg
    &.any_exist_soldiers
      color: $any_exist_soldiers
