@import "bulma_variables"
@import "~bulma/sass/utilities/mixins"

////////////////////////////////////////////////////////////////////////////// フッターまでの最低限の縦幅

.main_container
  min-height: 70vmin

////////////////////////////////////////////////////////////////////////////// 最初の section の上の隙間が多すぎるので減らす

body > section:first-of-type
  padding-top: $gap * 2

////////////////////////////////////////////////////////////////////////////// html_formatのなかでtooltipが途切れる

#swars_player_info_app
  .html_format
    overflow: visible

////////////////////////////////////////////////////////////////////////////// ぴよ将棋の画像調整

.show_piyo_link
  margin: 0.5rem
  height: 1.4rem

.row_piyo_link
  padding: 0 1em
  height: 1.4rem

.piyo_icon_in_button
  height: 1.0rem

////////////////////////////////////////////////////////////////////////////// 普通の棋譜のtwitter用画像の小さいの

.mini_img
  height: 24px
  width: 24px
  border: 1px solid $primary

////////////////////////////////////////////////////////////////////////////// 段級位

.versus
  margin: 0px 0.25rem

////////////////////////////////////////////////////////////////////////////// タグクラウド

.tag_cloud
  justify-content: center ! important
  .tag
    &.is-normal
      font-size: 0.8rem ! important
    &.is-medium
      font-size: 1.0em ! important
    &.is-large
      font-size: 1.2rem ! important

////////////////////////////////////////////////////////////////////////////// アイコン

.icon_hidden
  visibility: hidden !important
.icon_o
  color: hsl(38,80%,60%)
.icon_x
  color: hsl(0,0%,90%)

////////////////////////////////////////////////////////////////////////////// 持ち時間用フォント

.digit_font
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace

////////////////////////////////////////////////////////////////////////////// チャットのメッセージは強く折り返す

.chat_container
  word-break: break-all
  figure.media-left
    .image
      img
        border-radius: 5%

//////////////////////////////////////////////////////////////////////////////// message_link_to

a.message_link_to
  .avatar_image
    vertical-align: middle
    height: 1.8em
    border-radius: 5%
  .user_name
    margin: 0 0.2em
    white-space: nowrap

.chat_one_line
  /* display: inline-flex
  /* align-items: center
  .chat_message
    margin-left: 0.0em

.avatar_image_in_dialog
  height: 3.0em
  vertical-align: middle
  margin-right: 0.5em
  border-radius: 5%

////////////////////////////////////////////////////////////////////////////// ヘッダーのアバター画像

.header_avatar_image
  vertical-align: middle
  border-radius: 50%

.my_name
  margin-left: 0.5em

////////////////////////////////////////////////////////////////////////////// ランキングのアバター

.ranking_avatar
  vertical-align: middle
  width: 26px
  margin-right: 8px

////////////////////////////////////////////////////////////////////////////// .box のかわり

.non_border_box
  display: block
  padding: 1.25rem

////////////////////////////////////////////////////////////////////////////// html_format で Hash 表示したとき値は改行する

.hash_value_only_nowrap
  .html_format
    .html_format_type_hash
      td
        white-space: normal

////////////////////////////////////////////////////////////////////////////// ヘッダー画像

// .hero
//   &.is-primary
//     background-color: transparent !important
//
//   position: relative
//   &:after
//     position: absolute
//     z-index: -1
//     content: ""
//     background-image: url("../../../node_modules/shogi-player/src/assets/hero.jpg")
//     background-position: center
//     background-size: cover
//     opacity: 1.0
//     top: 0
//     left: 0
//     width: 100%
//     height: 100%

////////////////////////////////////////////////////////////////////////////// ShogiPlayer の css を適用 (ShogiPlayer.vue とは別に管理する)

// /* @import "../../../node_modules/bulma/bulma.sass"
// @import "../../../node_modules/bulma/sass/utilities/initial-variables.sass"
// @import "../../../node_modules/bulma/sass/utilities/derived-variables.sass"

// ShogiPlayer.sass からの相対パスで画像が参照できるはずだけど次の謎のエラーになるため $sp_assets_dir をこのファイルからの相対パスに変更する
//
// ERROR in ./node_modules/css-loader??ref--2-2!./node_modules/postcss-loader/lib??ref--2-3!./node_modules/sass-loader/lib/loader.js??ref--2-4!./app/javascript/packs/application_dependent.sass
// Module not found: Error: Can't resolve '../assets/japanese-chess/koma/60x64/sgl58.png' in '/Users/ikeda/src/shogi_web/app/javascript/packs'
//  @ ./node_modules/css-loader??ref--2-2!./node_modules/postcss-loader/lib??ref--2-3!./node_modules/sass-loader/lib/loader.js??ref--2-4!./app/javascript/packs/application_dependent.sass 7:13975-14031
//
$sp_assets_dir: "../../../node_modules/shogi-player/src/assets"
@import "../../../node_modules/shogi-player/src/components/ShogiPlayer.sass"

////////////////////////////////////////////////////////////////////////////// 囲い・戦型 用

$cell_blank_bg:      $grey
$something_exist_bg: $green
$any_exist_soldiers: $grey-light

.shogi-player
  table
    .cell_blank
      background: $cell_blank_bg
    .something_exist
      background: $something_exist_bg
    .any_exist_soldiers
      color: $any_exist_soldiers

/* 背景画像
/* body
/*   position: relative
/*   &:after
/*     position: absolute
/*     z-index: -1
/*     content: ""
/*     background-image: url("../image_basename")
/*     background-position: center
/*     background-size: cover
/*     opacity: 1.0
/*     top: 0
/*     left: 0
/*     width: 100%
/*     height: 100%

////////////////////////////////////////////////////////////////////////////// ログインボタン
/* https://qiita.com/AcaiBowl/items/8ee0a5a6c994685fb1cd
/* https://lab.syncer.jp/Document/Color/Brand-Color/

@mixin brand_def($name, $color)
  .#{$name}
    &.brand_button
      border: none ! important
      color: white ! important
      background: $color ! important
    &:hover
      background: darken($color, 10%) ! important

@include brand_def("twitter", rgb(85, 172, 238))
@include brand_def("google",  rgb(221, 75,  57))
@include brand_def("github",  rgb( 51, 51,  51))

////////////////////////////////////////////////////////////////////////////// クリックできる行を GMail 風にする

.is_row_clickable
  tbody
    tr
      &:hover
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5)
        cursor: zoom-in

//////////////////////////////////////////////////////////////////////////////
  
+mobile
  html
    font-size: 80% !important
  
  .section
    margin: 1em 0 !important
    padding: 0 !important

// .shogi-player
//   .font_size_base
//     +mobile
//       width: auto
//       background-color: blue
//       font-size: 4.2vmin
//   .modal_trigger_dots
//     +mobile
//       display: none
