footer
  margin-top: 30px
  background-color: #eee
  padding: 30px 0
  text-shadow: 0 1px 0 #fff
  border-top: 1px solid #e5e5e5
  p
    color: #555

body > .container
  min-height: 70vh

pre, code, var, samp, kbd, .mono, textarea, .font_fixed_width
  font-family: Osaka-mono, "Osaka-等幅", "ＭＳ ゴシック", monospace
  line-height: 1.2

.pagination
  .page-item
    .page-link
      /* 隙間
      margin: 0.2em

      /* 角丸め
      border-radius: 8px ! important

      /* 数字の大きさ
      font-size: 1.2em

      /* 大きさ
      padding: 0.72em 1.3em

      /* 前後は押しやすいように大きくする(重要)
      &.prev_or_next
        padding-left: 3em
        padding-right: 3em

      /* 端に移動するリンクは不要なので消す
      &.first_or_last
        display: none

  /* 「…」の部分は
  .page-item.disabled
    /* 消すのもありかもしれない→消す
    display: none

    /* デフォルトでは '#' が押せてしまうので押せないようにする
    /* .page-link
    /*   pointer-events: none
