@import "bulma_variables"
@import "~bulma/sass/utilities/mixins"

#capture_container
  margin: 0 auto
  
  // https://bulma.io/documentation/overview/responsiveness/
  width: 1200px
  height: 630px
  box-sizing: content-box
  border: 1px solid $primary
  .shogi-player
    padding: 12px 0
    
    .piece_inner.promoted_false
      color: #222
    table
      border-color: #888        // 外枠
      background: #999          // 罫線
    .turn_area
      display: none
    .modal_trigger_dots
      display: none
      
    td
      width: 64px
      // padding: 5px 15px
      font-size: 42px
      &.origin_place
        background: hsl(0,0%,94%)
      &.current
        background: hsl(0,0%,94%)
        animation: none
        
    .piece_stand_outer
      padding-left: 12px
      .location_mark
        font-size: 38px
      .piece_stand
        .piece_outer
          background: none
          .piece_inner
            font-size: 38px
        .piece_count
          color: #888
          padding-left: 5px
          font-size: 30px

    .turn_active
      .location_mark
        // color: hsl(0, 50%, 10%)
        text-shadow: 0 0 2rem hsl(0,50%,50%)
          
          
.img_size_check
  img
    border: 1px solid $primary

.ogp_slider
  width: 25%

// Windows の Google Chrome だと mac とちがって駒が下りすぎる対策
.mac
  $sp_simple_piece_inner_transform_y: -5px
  #capture_container
    .board_inner
      .piece_outer
        .piece_inner
          &.location_black
            transform: translateY($sp_simple_piece_inner_transform_y)
          &.location_white
            transform: rotate(180deg) translateY($sp_simple_piece_inner_transform_y)
