////////////////////////////////////////////////////////////////////////////// 全体でダブルクリックズームを禁止

*
  touch-action: manipulation

////////////////////////////////////////////////////////////////////////////// b-notification の下の隙間調整

#flash_danger_notify_tag
  .notification
    margin-bottom: 2.3em

////////////////////////////////////////////////////////////////////////////// html_formatのなかでtooltipが途切れる

#swars_player_info_app
  .html_format
    overflow: visible

////////////////////////////////////////////////////////////////////////////// ぴよ将棋の画像調整

.show_piyo_link
  display: inline-block
  margin-top: 0.15rem
  max-width: none
  height: 1.6rem

////////////////////////////////////////////////////////////////////////////// 段級位

.battle_show_container
  .shogi-player
    margin-top: 0.5rem

.versus
  margin: 0rem 0.25rem

////////////////////////////////////////////////////////////////////////////// ヘッダーのアバター画像

.header_avatar_image
  vertical-align: middle
  border-radius: 50%

.my_name
  margin-left: 0.5em

////////////////////////////////////////////////////////////////////////////// ランキングのアバター

.ranking_avatar
  vertical-align: middle
  width: 26px
  margin-right: 8px

////////////////////////////////////////////////////////////////////////////// .box のかわり

.non_border_box
  display: block
  padding: 1.25rem

////////////////////////////////////////////////////////////////////////////// html_format で Hash 表示したとき値は改行する

.hash_value_only_nowrap
  .html_format
    .html_format_type_hash
      td
        white-space: normal

////////////////////////////////////////////////////////////////////////////// ログインボタン
/* https://qiita.com/AcaiBowl/items/8ee0a5a6c994685fb1cd
/* https://lab.syncer.jp/Document/Color/Brand-Color/

=brand_def($name, $color)
  .#{$name}
    &.brand_button
      border: none !important
      color: white !important
      background: $color !important
    &:hover
      background: darken($color, 10%) !important

+brand_def("twitter", $twitter)
+brand_def("google",  $google)
+brand_def("github",  $github)

//////////////////////////////////////////////////////////////////////////////// サイト名

@import url('https://fonts.googleapis.com/css?family=Candal&display=swap')

.navbar-brand
  .navbar-item
    font-family: 'Candal'

//////////////////////////////////////////////////////////////////////////////// 便利な使い方

.usage_modal
  li:not(:first-child)
    margin-top: 0.8rem

//////////////////////////////////////////////////////////////////////////////// 検索の下のところ

.search_bottom_controllers
  .is-flex
    justify-content: space-around
    +desktop
      justify-content: flex-start
    .search_index_dropdown_menu
    .board_show_type_field
      margin-left: 1rem
    .player_info_show_button
      margin-left: 1rem

//////////////////////////////////////////////////////////////////////////////// 検索ボタン

.search_form_submit_button
  min-width: 4rem

//////////////////////////////////////////////////////////////////////////////// テーブル上のチェックボックス

.table_column_toggle_checkboxes
  &.field.is-grouped
    +mobile
      justify-content: center
      .control
        margin-right: 0         // 「□ラベル(ここ)」の隙間
        .control-label
          padding-left: 0.18rem // 「□(ここ)ラベル」の隙間

//////////////////////////////////////////////////////////////////////////////// ox

.ox_sequense
  vertical-align: middle
  font-family: monospace
  font-size: 0.5rem
  +desktop
    font-size: 1rem

//////////////////////////////////////////////////////////////////////////////// モバイル時の shogi-player の横スペース調整用

.sp_mobile_padding
  +mobile
    padding-left: 0px
    padding-right: 0px

//////////////////////////////////////////////////////////////////////////////// ウォーズ検索右上ドロップダウンメニュー

// .search_index_dropdown_menu
//   position: absolute
//   top: 0rem
//   right: 0.5rem
//   z-index: 1

//////////////////////////////////////////////////////////////////////////////// トップページ
.tops_show

//////////////////////////////////////////////////////////////////////////////// 宣伝
.promotion_for_training
  a
    // border-radius: 0.5rem
    // box-shadow: 0 0 6px rgba(0, 0, 0, 0.1)
    // border: 1px solid change_color($black, $lightness: 90%)
    // &:hover
    //   text-decoration: none

    flex-direction: row
    align-items: center
    justify-content: center

    img
      flex-shrink: 0
      height: 94px
      width: 92px
      object-fit: cover
