// ../../../nuxt_side/assets/sass/bulma_init.scss を参考にしよう
// というかそれを読み込もう

@import "../../../nuxt_side/assets/sass/bulma_init.scss"

// @import "~bulma/sass/utilities/initial-variables";      // なくてもいいけど bulma の初期値を参照したいとき用
// @import "~bulma/sass/utilities/functions.sass";         // findColorInvert を使うため
//
// // 主用カラー
// $primary: $red;
