// https://buefy.org/documentation/customization/

// @charset "utf-8"
//
// @import "initial-variables.sass"
// @import "functions.sass"
// @import "derived-variables.scss"
// @import "animations.sass"
// @import "mixins.sass"
// @import "controls.sass"

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
// 1. 独自の初期変数を設定して導き出す
//    variables in _bulma_variables.scss
@import "./_bulma_variables.scss";

// 2. カスタムカラー設定
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);
$google: rgb(221, 75,  57);
$google-invert: findColorInvert($google);
$gold: hsl(38, 80%, 60%);
$gold-invert: findColorInvert($gold);
$piyo: #f29601;
$piyo-invert: findColorInvert($piyo);

@import "~bulma/sass/utilities/derived-variables";

// 3. カラーマップに新しいカラー変数を追加
$addColors: (
  "twitter":($twitter, $twitter-invert),
  "github": ($github, $github-invert),
  "google": ($google, $google-invert),
  "gold": ($gold, $gold-invert),
  "piyo": ($piyo, $piyo-invert),
);
$colors: map-merge($colors, $addColors);

// 【超重要】 *.vue のなかで +desktop などを使えるゆおにするため
// そして ../../node_modules/bulma/sass/utilities/_all.sass にあるように、最後に指定する
@import "~bulma/sass/utilities/mixins";
