.text-center
  .container
    = content_tag(:iframe, "", src: "https://codepen.io/akicho8/full/QaWWox", sandbox: "allow-same-origin allow-top-navigation allow-forms allow-scripts", width: "100%", height: "720", frameborder: "0", scrolling: "no")
