/* ////////////////////////////////////////////////////////////////////////////// b-notification の下の隙間調整 */

#flash_notify_tag {
  > div {
    margin-bottom: 2.3em;
  }
}

/* ////////////////////////////////////////////////////////////////////////////// for app/models/atomic_script/columns_colum_methods.rb */

.is_scroll_x {
  overflow-x: auto;
  overscroll-behavior-x: none;
}

/* // http://localhost:3000/admin/script/app-log で「題名」が途中で改行されるのを防ぐ */
.table.html_format_type_array_of_hash {
  thead {
    th {
      white-space: nowrap;
    }
  }
}
