shogi_player(
  :kifu_body="'#{current_record.sfen_body}'"
  :start_turn="-1"
  :key_event_capture="true"
  :slider_show="true"
  :sfen_show="false"
  :controller_show="true"
  :theme="'#{sp_theme_default}'"
  :size="'medium'"
  :sound_effect="true"
  :volume=AppConfig[:volume]
  :player_info="#{current_record.player_info.to_json}"
  )
  = render partial: "sfen_link"

- if current_record.description.present?
  .has-text-centered
    .message.is-size-7
      .message-body
        = current_record.description

- if AppConfig[:swars_tag_search_function]
    br
    .has-text-centered
      .tags.is-inline
        - current_record.showable_tag_list.each do |e|
         span.tag= link_to(e, [:swars, :battles, query: "tag:#{e}"])
