template(slot="empty")
  template(v-if="fetched_count >= 1")
    section.section.is-unselectable
      .content.has-text-grey.has-text-centered
        p
          b-icon(icon="emoticon-sad" size="is-large")
        p
          | 見つかりませんでした
