<template slot="empty">
  <template v-if="fetched_count &gt;= 1">
    <section class="select-none px-4 py-12">
      <div class="space-y-3 text-center text-gray-500">
        <p>
          <b-icon icon="emoticon-sad" class="text-3xl">
          </b-icon>
        </p>
        <p>
          見つかりませんでした
        </p>
      </div>
    </section>
  </template>
</template>
