<template slot="empty">
  <template v-if="fetched_count &gt;= 1">
    <section class="section is-unselectable">
      <div class="content has-text-grey has-text-centered">
        <p>
          <b-icon icon="emoticon-sad" size="is-large">
          </b-icon>
        </p>
        <p>
          見つかりませんでした
        </p>
      </div>
    </section>
  </template>
</template>
