.page-header
  h2= (current_record.new_record? ? "登録" : "更新") + "の確認"

= form_with(model: [ns_prefix, current_record]) do |form|
  = render partial: "confirm", locals: {form: form}
  .field
    .col-sm-offset-2.control
      =<> form.submit("この内容で送信する", class: "button is-primary", name: "_submit_from_confirm")
      =<> form.submit("入力内容を修正する", name: "_back_to_edit", class: "button")

= render partial: "crud_debug"
