meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")

- if !params[:formal_sheet]
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css")
link(rel="stylesheet" href="https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css")

link(rel="apple-touch-icon" href=path_to_image(@apple_touch_icon || "apple-touch-icon.png"))

meta(name="rails_env" content="#{Rails.env}")

/ meta(name="description" content="将棋ガジェット")
/ https://seolaboratory.jp/34998/
/ meta(name="keywords" content="将棋,ストップウォッチ,RTA,将棋ウォーズ,KENTO,将棋ウォーズ棋譜検索,棋譜検索")

/ FIXME: インラインで書くな
sass:
  [v-cloak]
    /* important 指定しないと効かないのが謎 */
    display: none !important

= favicon_link_tag
= csrf_meta_tag
title= html_title

- if AppConfig[:colosseum_battle_enable]
  = action_cable_meta_tag

/ FIXME: とる
javascript:
  var js_global = #{js_global.to_json.html_safe}

/ sprockets
= stylesheet_link_tag "application", media: "all"
= javascript_include_tag "application"

/ webpack
= stylesheet_pack_tag "application", media: "all"
= javascript_pack_tag "application"

= render "google_analytics" if Rails.env.production?

/ これはとる
= javascript_pack_tag("system_notification")

- if AppConfig[:colosseum_battle_enable]
  / ActionCable
  - if current_user
    = javascript_pack_tag("single_notification")

- unless content_for?(:twitter_card_tag)
  - twitter_card_tag(description: "将棋に関連するプログラムの実験的なサイトです。ネット対戦・CPU対戦・将棋ウォーズ棋譜検索・棋譜変換などができます", image: "swars_battles_index.png")
= yield(:twitter_card_tag)

= yield :head
