meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
- if params[:formal_sheet]
  meta(name="viewport" content="width=device-width, initial-scale=0.75")
- else
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

meta(name="rails_env" content="#{Rails.env}")
= action_cable_meta_tag
= favicon_link_tag
= csrf_meta_tag

link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
link(rel="stylesheet" href="https://cdn.materialdesignicons.com/5.1.45/css/materialdesignicons.min.css")

link(rel="apple-touch-icon" href=path_to_image(@apple_touch_icon || "apple-touch-icon.png"))

title= html_title

/ sprockets
= stylesheet_link_tag "application", media: "all"
= javascript_include_tag "application"

/ webpack
= stylesheet_pack_tag "application", media: "all"
= javascript_pack_tag "application"

- @ogp_params ||= { description: "将棋に関連するツールを提供するサイトです", image: "ogp/swars-search.png" }
== OgpCop.as_meta_tags(self, @ogp_params)

= yield :head
