doctype 5
html(lang="ja" class=([Rails.env]))
  head
    = render partial: "layouts/head"
  body
    = render partial: "layouts/main_navbar"
    .section
      .container.is-fluid
        = flash_notify_tag
        = yield
        = ToolBelt::Basic.new(view_context: self).to_html
